<!-- Show Student ERB Template -->

<%= erb :header %>

<h1 class="page-header"><%= @student.name %></h1>

<div class="content-container">
  <form data-toggle="validator" class="form-horizontal" method="post" action="/students/<%= @student.id %>">
    <input type="hidden" name="_method" value="DELETE" />
    <% @mode = 'view' %>
    <%= erb :student_form %>
    <div class="form-group">
      <label class="col-sm-4 control-label"> </label>
      <div class="col-sm-8">
        <a href="/students" class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</a>
        <a href="/students/<%= @student.id %>/edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Edit</a>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete</button>
      </div>
    </div>
  </form>
</div>

<%= erb :footer %>